asgiref==3.8.1
certifi==2024.12.14
charset-normalizer==3.4.0
colorlog==6.9.0
Django==4.2.17
idna==3.10
numpy==2.0.2
pandas==2.2.3
psycopg2-binary==2.9.10
pycryptodome==3.21.0
pykis==0.7.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-kis==1.0.6
pytz==2024.2
requests==2.32.3
six==1.17.0
SQLAlchemy==2.0.36
sqlparse==0.5.3
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
websocket-client==1.8.0
